.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.key-row {
  display: flex;
  justify-content: space-between;
}

.keyboard__item {
  padding: 15px;
  margin: 4px;
  background: #3a3838;
  color: #efe7e7;
  border-radius: 5px 5px 12px 12px;
  box-shadow: 1px 1px 5px #ff0000;
  cursor: pointer;
  transition: all 0.3s;
}

.keyboard__item:hover {
  background: #aaa4a4;
}

.buttons-wrapper {
  border: 1px solid #474444;
  width: 790px;
  background: #7c7878;
  border-radius: 5px;
}

div[data-id='Space'] {
  width: 225px;
}

div[data-id='ShiftRight'] {
  width: 20px;
  padding-left: 5px;
}

.textarea-scope {
  height: 100px;
  width: 785px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.active {
  background: #a1f602;
  color: #040404;
  border-radius: 100px;
  transition: all 0.5s;
  box-shadow: 1px 1px 5px #ffd900;
}

.active:hover {
  background: #a1f602;
}
